@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Password reset";
}

<h1 class="headline">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-4 login-wrapper">
        <form method="post">
            <div class="login-section">
                <div class="input-area">
                    <h3>Enter your Email</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating input-area">
                        <input asp-for="Input.Email" class="form-control forminput" autocomplete="username" aria-required="true"/>
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="signonbtn fas fa-angle-right"></button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}