@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1 class="headline">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-4 login-wrapper">
        <form method="post">
            <div class="login-section">
                <h3>Enter your Email</h3>
                <div class="form-floating input-area">
                    <input asp-for="Input.Email" class="form-control forminput" aria-required="true"/>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="signonbtn fas fa-angle-right" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}