@page
@using CoinR.Views.Home
@model CoinR.Views.Home.Currencydetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Currencydetails._currency</title>
</head>
<body>
<div>
    
</div>
</body>
</html>