@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Account";
}
<div class="fullwidth">
    <div class="left">
        <h1 class="greeting">Hi</h1>
        <h1 class="yellow greeting">@User.FindFirst(ClaimTypes.Name).Value</h1>
        <h1 class="greeting">!</h1>
    </div>

    <div class="right">
        <h1>CURRENT BALANCE</h1>
        <div class="col-12">
            <h2 class="d-inline">CoinR Account: </h2>
            <h2 class="d-inline green">2523,13€</h2>
        </div>
    </div>
</div>

<div class="fullwidth">
    <div class="left">
        <h1 class="AccountdescriptionElements">YOUR WATCHLIST</h1>
        <div class="accountdetailsContainer">
        </div>
        <h1 class="AccountdescriptionElements">ADD TO WATCHLIST</h1>
        <div class="accountdetailsContainerNarrow">
        </div>
    </div>


    <div class="right">
        <h1 class="AccountdescriptionElements">DEPOSIT MONEY</h1>
        <div class="accountdetailsContainer">

        </div>
    </div>
</div>