@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Account";
}
<h1 class="greeting">Hi</h1><h1 class="yellow greeting">@User.FindFirst(ClaimTypes.Name).Value</h1><h1 class="greeting">!</h1>
<div class="currencyWrapper">
    <div class="currencyContainer">

    </div>
    <div class="currencyContainer">

    </div>
</div>


