@page
@model CoinR.Areas.Identity.Pages.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CoinR | The easy way to handle crypto</title>
</head>
<body>
<nav class="navbar navbar-fixed-top col-sm-8">
    
</nav>
</body>
</html>